 .Modal-container {
  width: 960px;
  min-height: 407px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 10px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  gap: 71px;
  padding-bottom: 89px;
}